{% extends "base.html" %}
{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    {{form.hidden_tag()}}
    {{ form.csrf_token }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.city.label }}<br>
        {{ form.city(class="form-control") }}<br>
        {% for error in form.city.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        <label>Категория</label>
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="category" name="category">
            <option selected value="2">Электроника</option>
            <option value="1">Животные</option>
            <option value="3">Личные вещи</option>
            <option value="4">Услуги</option>
            <option value="5">Работа</option>
            <option value="6">Недвижимость</option>
            <option value="7">Транспорт</option>
        </select>
    </p>
    <p>
        {{ form.description.label }}<br>
        {{ form.description(class="form-control") }}<br>
        {% for error in form.description.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.address.label }}<br>
        {{ form.address(class="form-control") }}<br>
        {% for error in form.address.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
        <p>
        {{ form.price.label }}<br>
        {{ form.price(class="form-control") }}<br>
        {% for error in form.price.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        <input type="file" name="files" multiple id="fileInput">
        <script>
            document.getElementById('fileInput').addEventListener('change', function() {
                if (this.files.length > 5) {
                    alert('Можно загрузить только до 5 файлов');
                    this.value = '';
                }
            });
        </script>
    </p>
    <p>
        {{ form.submit(type="submit", class="btn btn-primary") }}
    </p>
</form>
{% endblock %}