{% extends "base.html" %}
{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    {{form.hidden_tag()}}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.city.label }}<br>
        {{ form.city(class="form-control") }}<br>
        {% for error in form.city.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.phone_number.label }}<br>
        {{ form.phone_number(class="form-control") }}<br>
        {% for error in form.phone_number.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <div class="form-group">
        <label for="classSelect">Выберите категорию товара</label>
        <select class="form-control" id="classSelect" name="class">
            <option>Транспорт</option>
            <option>Животные</option>
            <option>Одежда</option>
            <option>Недвижимость</option>
            <option>Электроника</option>
            <option>Для дома и дачи</option>
            <option>Услуги</option>
            <option>Работа</option>
        </select>
    </div>
    <div class="form-group">
        <label for="about">Описание товара или услуги</label>
        <textarea class="form-control" id="about" rows="3" name="about"></textarea>
    </div>
    <p>
        <input type="file" name="file">
    </p>
    <p>
        {{ form.submit(type="submit", class="btn btn-primary") }}
    </p>
</form>
{% endblock %}