{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{css1}}"/>
<div>
    {% for i in photos %}
    {{ loop.index - 1}}
    <img src={{i[0]}} style="position: relative; left: -110px; top: 20px;" alt="Photo"/>
    <img src={{i[1]}} style="position: relative; left: 10px; top: 20px;" alt="Photo"/>
    <img src={{i[2]}} style="position: relative; left: 130px; top: 20px;" alt="Photo"/>
    <img src={{i[3]}} style="position: relative; left: 250px; top: 20px;" alt="Photo"/>
    {% endfor %}

</div>



{% endblock %}