{% extends "base.html" %}

{% block content %}
<div class="d1">
  <form method="GET" action="/">
  <input type="text" placeholder="Искать здесь..." name="search_input">
  <button type="submit"></button>
  </form>
</div>
<div>
    <table cellspacing="0" cellpadding="0" align=center>
        <tr>
            {% for i in photos %}
            {% if loop.index != loop.last and loop.index % 4 != 0%}
            <td width="300" height="250"><img src={{i}} alt="" width="250"
                                              height="200">
            </td>
            {% endif %}
            {% endfor %}
        </tr>
    </table>
</div>
{% endblock %}








