{% extends "base.html" %}

{% block content %}
<div>
    <table cellspacing="0" cellpadding="0" align=center>
        {% for i in photos %}
        <tr>
            <td width="300" height="250"><img src={{i[0]}} alt="" width="250"
                                              height="200">
            </td>
            <td width="300" height="250"><img src=/static/img/one.PNG alt="" width="250"
                                              height="200"></td>
            <td width="300" height="250"><img src=/static/img/one.PNG alt="" width="250"
                                              height="200"></td>
            <td width="300" height="250"><img src=/static/img/one.PNG alt="" width="250"
                                              height="200"></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}








