{% extends "base.html" %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{{css1}}"/>
</head>
<div id=na>
    <header>
        <h1>Профиль</h1>
    </header>
    <style>
        body {
              background: #000029;
              color: #ffffff;
       }



    </style>
    <main>
        <div id=hi>
            <nav>
                <div>
                    <img class="profile_image" src="/{{user.photo}}" alt="изображение" height="200" width="200"
                    >
                </div>
            </nav>
            <section>
                <h4>{{user.login}}</h4>
                <h8>{{user.email}}</h8>
                <h11>+{{user.phone_number}}</h11>
            </section>
        </div>
        </nav>
        <aside>
            <h2>Ваши объявления</h2>
            <hr style="position: relative; left: -500px;" width="178%" color="black"/>
            {% for i in advert %}
            {% for j in i[1] %}
            <p><img src="/{{j}}" alt="изображение" height="200" width="300"></p>
            {% endfor %}
            <a href="/advert/{{i[0].id}}" style="text-decoration: none"><h3 style="color: white">{{i[0].title}}</h3></a>
            <h5>{{i[0].price}} руб.</h5>
            <hr width="50%" color="black"/>
            {% endfor %}
        </aside>
    </main>
</div>
{% endblock %}
